<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Surgery Companion</name>

    <description>
        Mockup of app for medical information.
    </description>

    <author href="github.com/Mpaull" email="mpaull15@gmail.com">
        MPaull
    </author>

    <preference name="phonegap-version" value="2.7.0" />



</widget>